{:app
 {:database
  {:adapter       "postgresql"
   :username      "robo"
   :password      "robo"
   :database-name "robo"
   :server-name   "morpheus.local"
   :port-number   5432}
  :jobs
  {:yahoo
   {:days-ago  7
    :pool-size 10
    :schedule  {:hour   01
                :minute 00
                :day    [:tue :wed :thur :fri :sat]}}}}}
